
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>後台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <style>
        .custom-header {
            background-color: #e0f2f1;
            padding: 10px 20px;
            margin-top: -20px; /* 標題上移 */
            text-align: center; /* 元件置中 */
        }

        .custom-btn-group {
            width: 45%;
            display: flex;
            justify-content: space-between;
            margin-left: auto;
            margin-top: 10px;
        }

        .table-responsive-md {
            margin-top: 2.0rem;
        }

        .table-responsive-md td,
        .table-responsive-md th {
            padding: 2.0rem;
        }
        .custom-button {
        width: 150px;
        font-style: normal;
    </style>
</head>

<body>
<div class="container-fluid my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${categories}" class="container-fluid my-5">
                <div class="d-flex justify-content-between align-items-center custom-header">
                    <h1>後台管理</h1>
                    <div class="custom-btn-group">
                        <a href="/admin/lunchAllProductsPage">
                            <i class="btn btn-secondary custom-button"> 商品 </i>
                        </a>
                        <a href="/admin/lunchAllOrdersPage">
                            <i class="btn btn-secondary custom-button"> 訂單 </i>
                        </a>
                        <a href="/admin/lunchAllCategoriesPage" >
                            <i class="btn btn-primary custom-button"> 分類 </i>
                        </a>
                        <a href="/logout" >
                            <i class="btn btn-secondary custom-button"> 登出 </i>
                        </a>
                    </div>
                </div>

                <div class="col-md-10 mx-auto">
                    <br>
                    <a href="/admin/lunchAddCategoryPage" class="btn btn-primary">
                        <i class="fas fa-user-plus"></i> 新增分類
                    </a>
                    <h2 th:case="null">目前沒有分類!!!</h2>
                    <div th:case="*">
                        <table class="table table-bordered table-responsive-md">
                            <thead>
                            <tr>
                                <th>分類名稱</th>
                                <th>修改</th>
                                <th>刪除</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="category : ${categories}">

                                <td th:text="${category.name}"></td>

                                <td>
                                    <a th:href="@{/admin/editCategory/{id}(id=${category.id})}"
                                       class="btn btn-primary">
                                        修改
                                    </a>
                                </td>
                                <td>
                                    <a onclick="return confirm('確定刪除嗎?')" th:href="@{/admin/deleteCategory/{id}(id=${category.id})}"
                                       class="btn btn-primary">
                                        刪除
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>











<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta http-equiv="x-ua-compatible" content="ie=edge">-->
<!--    <title>後台管理</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">-->
<!--    <style>-->
<!--        .custom-header {-->
<!--            background-color: #e0f2f1;-->
<!--            padding: 10px 20px;-->
<!--            margin-top: -20px; /* 將標題上移 */-->
<!--            text-align: center; /* 元件置中 */-->
<!--        }-->

<!--        .custom-btn-group {-->
<!--            width: 45%;-->
<!--            display: flex;-->
<!--            justify-content: space-between;-->
<!--            margin-left: auto;-->
<!--            margin-top: 10px;-->
<!--        }-->

<!--        .table-responsive-md {-->
<!--            margin-top: 2.0rem;-->
<!--        }-->

<!--        .table-responsive-md td,-->
<!--        .table-responsive-md th {-->
<!--            padding: 2.0rem;-->
<!--        }-->
<!--        .table-cell-padding td {-->
<!--            padding: 10px;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->

<!--<body>-->
<!--<div class="container my-2">-->
<!--    <div class="card">-->
<!--        <div class="card-body">-->
<!--            <div th:switch="${categories}" class="container my-5">-->
<!--                <div class="d-flex justify-content-between align-items-center custom-header">-->
<!--                    <h1>後台管理</h1>-->
<!--                    <div class="custom-btn-group">-->
<!--                        <a href="/admin/lunchAllProductsPage">-->
<!--                            <i class="btn btn-secondary"> 分類 </i>-->
<!--                        </a>-->
<!--                        <a href="/admin/lunchAllOrdersPage" >-->
<!--                            <i class="btn btn-secondary">訂單</i>-->
<!--                        </a>-->
<!--                        <a href="/admin/lunchAllCategoriesPage" >-->
<!--                            <i class="btn btn-primary"> 分類 </i>-->
<!--                        </a>-->
<!--                        <a href="/logout" >-->
<!--                            <i class="btn btn-secondary"> 登出 </i>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;                <p class="my-5">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <a href="/add" class="btn btn-primary">&ndash;&gt;-->
<!--                &lt;!&ndash;                        <i class="fas fa-user-plus ml-2"> 新增分類 </i></a>&ndash;&gt;-->
<!--                &lt;!&ndash;                </p>&ndash;&gt;-->
<!--                <div class="col-md-10 mx-auto">-->
<!--                    <br>-->
<!--                    <a href="/admin/lunchAddCategoryPage" class="btn btn-primary">-->
<!--                        <i class="fas fa-user-plus"></i> 新增分類-->
<!--                    </a>-->
<!--                    <h2 th:case="null">目前沒有分類!!!</h2>-->
<!--                    <div th:case="*">-->
<!--                        <table class="table table-bordered table-responsive-md table-cell-padding">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th>分類</th>-->
<!--&lt;!&ndash;                                <th>修改</th>&ndash;&gt;-->
<!--&lt;!&ndash;                                <th>刪除</th>&ndash;&gt;-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            &lt;!&ndash;                            $ == 取出, * == 存入&ndash;&gt;-->
<!--                            <tr th:each="category : ${categories}">-->
<!--&lt;!&ndash;                                <td th:text="${category.id}"></td>&ndash;&gt;-->
<!--                                <td th:text="${category.name}"></td>-->
<!--&lt;!&ndash;                                <td th:text="${category.totalPrice}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                                <td th:text="${category.status}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                                <td>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a th:href="@{/admin/editCategory/{id}(id=${category.id})}"&ndash;&gt;-->
<!--&lt;!&ndash;                                       class="btn btn-primary">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <i class="fas fa-user-edit ml-2"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </td>&ndash;&gt;-->
<!--&lt;!&ndash;                                <td>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <a onclick="return confirm('確定刪除嗎?')" th:href="@{/admin/deleteCategory/{id}(id=${category.id})}"&ndash;&gt;-->
<!--&lt;!&ndash;                                       class="btn btn-primary">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <i class="fas fa-user-times ml-2"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                </td>&ndash;&gt;-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->

<!--</html>-->