    <!-- header -->
    <div class=" container g-0">
      <div class="header">
          <div class="bg-cover header-img d-flex flex-row-reverse">
              <img class="m-5 header-text" src="assets/img/lg-想吃甜點是不需要理由的.svg">
          </div>
      </div>
  </div>

  <!-- content -->
  <div class="container g-0">
      <div class="row">
          <div class="col-md-4 g-0">
              <div>
                  <h2 class="content-list-title">甜點類別</h2>
                  <div class="list-group rounded-0">
                    <a class="list-group-item list-group-item-action active list-a" (click)="setCategoryToNull()" [ngClass]="{ 'active': selectedCategoryId === null }">所有甜點</a>
                  </div>
                  <div class="list-group rounded-0" *ngFor="let category of categories$ | async" >
                      <a class="list-group-item list-group-item-action list-a" (click)="selectCategory(category.id)" [ngClass]="{ 'active': selectedCategoryId === category.id }">{{category.name}}</a>
                      <!-- <a href="#" class="list-group-item list-group-item-action list-a">人氣推薦</a>
                      <a href="#" class="list-group-item list-group-item-action list-a">新品上市</a> -->

                  </div>
                  <!-- <a href="#" class="list-group-item list-group-item-action list-a list-group-soldout">下架絕版</a> -->
              </div>
          </div>
          <div class="col-md-8 ff">

              <app-product-list [selectedCategoryId]="selectedCategoryId"></app-product-list>

          </div>
      </div>
  </div>
  <router-outlet></router-outlet>
