    <!-- checkout content -->
    <div class="container">
      <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
              <div class="row">
                  <div class="form-block p-3">
                      <div class="form-row p-3">
                          <div class="col"><span class="page-title">付款</span></div>
                          <div class="col d-flex justify-content-between align-items-center progress-line"
                              style="position: relative;">
                              <div class="dot-complete">
                                  <div class="dot-check" style="position: relative;">
                                      <i class="fa fa-solid fa-check" style="color: #3F5D45;"></i>
                                  </div>
                              </div>
                              <div class="dot">
                                  <div class="dot-active"></div>
                              </div>
                              <div class="dot"></div>
                          </div>
                      </div>
                      <div class="container">
                          <label for="CardNumber" class="form-label form-label">信用卡卡號</label>
                          <div class="form-row">
                              <div class="col">
                                  <div class="form-group">
                                      <div class="input-group">
                                          <input type="text" class="form-control input-box" id="CardUser"
                                              placeholder="1234-5678-9012-3456" style="border: 0;">
                                          <span class="input-group-text rounded-0" id="basic-addon1"
                                              style="background-color:#EAF0ED; border-color: #EAF0ED;">
                                              <i class="fa fa-solid fa-credit-card" style="color: #3F5D45;"></i>
                                          </span>
                                      </div>

                                  </div>
                              </div>


                              <!-- <input type="text" class="form-control rounded-0" placeholder="甜蜜聯絡信箱" aria-label="Username"
                              aria-describedby="basic-addon1" style="background-color:white; border-left:0; max-width: 380px; height: 56px;"> -->


                          </div>
                          <label for="CardUser" class="form-label form-label">持卡人姓名</label>
                          <div class="form-row">
                              <div class="col">
                                  <div class="form-group">
                                      <input type="text" class="form-control input-box" id="CardUser" placeholder="王">
                                  </div>
                              </div>
                              <div class="col">
                                  <div class="form-group">
                                      <input type="text" class="form-control input-box" placeholder="大明">
                                  </div>
                              </div>
                          </div>


                          <label for="address" class="form-label form-label">有效期限</label>
                          <div class="form-row">
                              <div class="col-6">
                                  <div class="form-group">
                                      <select class="form-control rounded-0 input-box" name="month" id="month">
                                          <option value="month">月</option>
                                      </select>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="form-group">
                                      <select class="form-control rounded-0 input-box" name="day" id="day">
                                          <option value="day">日</option>
                                      </select>
                                  </div>
                              </div>
                          </div>

                          <div class="form-row">
                              <div class="col-6">
                                  <label for="securityCode" class="form-label form-label">安全碼</label>
                                  <input type="text" class="form-control input-box" id="securityCode"
                                      placeholder="999">
                              </div>
                          </div>

                      </div>

                  </div>
                  <div class="g-0 nextstep-block">
                      <a [routerLink]="['..', path.checkoutFlow.receiptInfo]" class="btn btn-block rounded-0 nextstep-block-btn"
                          style="font-size: 20px;">下一步</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 d-none d-lg-block">
              <div class="row">
                  <div class="col-12">
                      <div class="card rounded-0 mb-3">
                          <div class="card-header d-flex justify-content-center align-items-center rounded-0">
                              訂單摘要
                          </div>
                          <div class="card-body">
                              <div>
                                  <div class="col-12 d-flex justify-content-between p-2 pt-0">
                                      <span>小計</span>
                                      <span>NT $2700</span>
                                  </div>
                                  <div class="col-12 d-flex justify-content-between p-2">
                                      <span>運費</span>
                                      <span>NT $300</span>
                                  </div>
                                  <div class="col-12 d-flex justify-content-between p-2">
                                      <span style="font-size: 20px; font-weight: bold;">總計</span>
                                      <span style="font-size: 20px; font-weight: bold;">NT $3000</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="card rounded-0">
                          <div
                              class="card-header rounded-0 d-flex justify-content-center align-items-center rounded-0">
                              購物清單
                          </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-12 mb-3">
                                      <div class="d-flex justify-content-between align-items-center">
                                          <div class="bg-cover"
                                              style="background-image: url('https://bit.ly/2QvsT63');">
                                          </div>
                                          <div class="col d-flex flex-column product-info">
                                              <span>焦糖馬卡龍 (2)</span>
                                              <span>NT $900</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-12 mb-3">
                                      <div class="d-flex justify-content-between align-items-center">
                                          <div class="bg-cover"
                                              style="background-image: url('https://bit.ly/2QvsT63');">
                                          </div>
                                          <div class="col d-flex flex-column product-info">
                                              <span>焦糖馬卡龍 (2)</span>
                                              <span>NT $900</span>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-12 mb-3">
                                      <div class="d-flex justify-content-between align-items-center">
                                          <div class="bg-cover"
                                              style="background-image: url('https://bit.ly/2QvsT63');">
                                          </div>
                                          <div class="col d-flex flex-column product-info">
                                              <span>焦糖馬卡龍 (2)</span>
                                              <span>NT $900</span>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
