<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweetaste 首頁</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/c0315309b1.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md">
        <div class="container py-4">
            <button class="navbar-toggler ml-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" [routerLink]="path.home">
                <img src="assets/img/logo-all-dark.svg" class="d-none d-md-block" alt="Sweetaste Logo" height="40px">
                <img src="assets/img/logotype-lg-dark.svg" class="d-block d-md-none" alt="Sweetaste Logo" height="18px"></a>
            <a class="nav-link order-md-1" [routerLink]="path.cart">
                <i class="fa fa-solid fa-shopping-cart navbar-cart" style="color: #3F5D45;"></i>
            </a>
            <div class="collapse navbar-collapse navbar-list" id="navbarNav">
                <ul class="navbar-nav ml-auto navbar-fontsize">
                    <li class="nav-item mx-4">
                        <a class="nav-link" [routerLink]="[path.home]">首頁</a>
                    </li>
                    <li class="nav-item mx-4">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="[path.products]">甜點</a>
                    </li>
                    <li class="nav-item mx-4" *ngIf="isLoggedIn()!==true">
                        <a class="nav-link" routerLinkActive="active" [routerLink]="[path.login]">登入</a>
                    </li>
                    <li class="nav-item mx-4" *ngIf="isLoggedIn()===true">
                      <a class="nav-link" routerLinkActive="active" (click)="logout()" [routerLink]="[this.path]">登出</a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>

    <router-outlet></router-outlet>

    <!-- footer -->
    <footer>
        <section style="background-color: #3F5D45;">
            <div class="container py-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-5 col-12 d-flex align-items-center justify-content-center">
                        <img src="assets/img/logo-light.svg" width="40" class="mr-2">
                        <span style="font-size: 24px; color: #EAF0ED;">訂閱你我甜蜜郵件</span>
                    </div>
                    <div class="col-md-5 col-12 d-flex">
                        <div class="input-group justify-content-center">
                            <span class="input-group-text rounded-0" id="basic-addon1"
                                style="background-color:white; border-right:0">
                                <i class="fa fa-solid fa-envelope" style="color: #3F5D45;"></i>
                            </span>
                            <input type="text" class="form-control rounded-0" placeholder="甜蜜聯絡信箱" aria-label="Username"
                                aria-describedby="basic-addon1"
                                style="background-color:white; border-left:0; max-width: 380px; height: 56px;">
                            <button class="btn btn-warning rounded-0" type="button" id="button-addon2"><i
                                    class="fa fa-solid fa-arrow-right" style="color: #000000;"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section style="background-color: #EAF0ED;">
            <div class="container">
                <div class="row py-5 justify-content-start">
                    <div class="col-6 d-flex justify-content-between flex-column">
                        <div><img src="assets/img/logotype-lg-dark.svg" width="171"></div>
                        <div class="d-flex flex-column footer-fontsize mt-3">
                            <span>07-1234-5678</span>
                            <span>sweetaste@email.com</span>
                            <span>800 高雄市新興區幸福路 520 號</span>
                        </div>
                    </div>
                    <div class="col-6 d-none d-md-block ">
                        <div class="d-flex flex-row-reverse"><img src="assets/img/sm-今天是個吃甜點的好日子.svg" height="218">
                        </div>
                    </div>
                </div>
                <div class="row py-4 justify-content-start">
                    <div class="col-6">
                        <a href="#" class="mr-1"><i class="fa fa-brands fa-square-instagram fa-2xl"
                                style="color: #3F5D45;"></i></a>
                        <a href="#"><i class="fa fa-brands fa-square-facebook fa-2xl" style="color: #3F5D45;"></i></a>
                    </div>
                    <div class="col-6 d-flex flex-row-reverse">
                        <span class="d-none d-md-block footer-fontsize">© 2018 Sweetaste* All Rights Reserved</span>
                    </div>
                    <div class="d-block d-md-none mt-2 footer-fontsize">
                        <span>© 2018 Sweetaste* All Rights Reserved</span>
                    </div>
                </div>
            </div>
        </section>
    </footer>

</body>

</html>
